* {
  box-sizing: border-box;
  margin: 0;
}
header,
footer {
  height: 100px;
  display: flex;
  background-color: #25274d;
  color: #feffff;
  align-items: center;
}
#logo {
  width: 20%;
  height: 100px;
  color: #feffff;
}
header > h1 {
  padding-left: 15px;
}
main {
  /* height: 100vh; */
}
body {
  background-color: #171b69;
}
/*====================================== 
            MAIN NAV
======================================*/
#main-nav {
  background-color: #2e9cca;
}
#main-nav > ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
#main-nav > ul a {
  text-decoration: none;
  display: block;
  padding: 15px;
  color: black;
  font-size: 20px;
}
#main-nav > ul a:hover {
  color: white;
  background-color: #171b69;
}
#main-nav > ul a:active {
  color: rgb(212, 18, 18);
}
#main-nav li {
  width: 20%;
  text-align: center;
}
ul {
  display: flex;
  flex-direction: row;
}
.active-page {
  background-color: #83d4f7;
  /* color: white; */
}
/*====================================== 
            MAIN SECTION HOME
======================================*/
#hero_img {
  height: 70vh;
  width: 100%;
  background-image: url(../images/Glasgow_hero_img.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
#hero_message {
  position: absolute;
  left: 60px;
  top: 300px;
  /* background-color: rgba(2, 2, 2, 0.05); */
  padding: 10px;
  color: #feffff;
  font-size: 100px;
}
#home-text {
  background-color: #2e9cca;
  color: #feffff;
  text-align: center;
  font-size: 30px;
  margin: 0;
  padding: 20px;
  height: 30vh;
}
/*====================================== 
            MAIN SECTION SIGHTS
======================================*/
.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
}
.container img:hover {
  transition: all 0.5s;
  transform: scale(1.1);
}
.site-item > img,
.description {
  width: 50vw;
}
.description {
  display: flex;
  flex-direction: column;
  background-color: #2e9cca;
  color: #feffff;
  text-align: center;
  align-items: center;
}
.description > h2 {
  margin: 50px 0 20px 0;
}
.description > p {
  padding: 25px 50px 25px 50px;
  font-size: 1.5rem;
}
.site-item {
  display: flex;
  height: 33.33%;
}

/*====================================== 
            MAIN SECTION SPORT
======================================*/
#desc {
  height: 20%;
  background-color: #2e9cca;
  width: 100%;
}
#desc p {
  padding: 10px;
}
#desc h2 {
  margin-top: 10px;
}
#main-sport {
  display: flex;
  height: 80vh;
}
#main-sport > img {
  position: absolute;
  top: 50%;
  left: 50%;
  /* -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%); */
  transform: translate(-50%, -50%);
  z-index: 100;
  height: 60%;
  animation: spinLogo 3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#red {
  background-color: red;
  display: block;
  width: 50vw;
}
#yellow {
  background-color: yellow;
  display: block;
  width: 50vw;
}
#also {
  font-size: small;
}
/*====================================== 
            MAIN SECTION FOOD
======================================*/
#fourpics {
  width: 90%;
  margin: 15px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
}
#fourpics > img {
  width: 24%;
  height: 100%;
}
#twopics {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  flex-wrap: wrap;
}
#twopics > img {
  width: 49%;
  height: 100%;
}
#food-text {
  background-color: #2e9cca;
  color: #feffff;
  text-align: center;
  font-size: 30px;
  margin: 100px 0 0 0;
  padding: 20px;
  height: 30vh;
}
/*====================================== 
            MAIN FOOTER
======================================*/
footer {
  flex-direction: row-reverse;
}
footer > a {
  text-decoration: none;
  display: block;
  padding: 15px;
  color: #feffff;
  font-size: 30px;
}
/*====================================== 
            ANIMATIONS
======================================*/
.animate {
  display: inline-block;
  animation: move 1s;
}

@keyframes move {
  0% {
    top: 500px;
    opacity: 0;
  }
  10% {
    top: 480px;
    opacity: 0.1;
  }
  20% {
    top: 460px;
    opacity: 0.2;
  }
  30% {
    top: 440px;
    opacity: 0.3;
  }
  40% {
    top: 420px;
    opacity: 0.4;
  }
  50% {
    top: 400px;
    opacity: 0.5;
  }
  60% {
    top: 380px;
    opacity: 0.6;
  }
  70% {
    top: 360px;
    opacity: 0.7;
  }
  80% {
    top: 340px;
    opacity: 0.8;
  }
  90% {
    top: 320px;
    opacity: 0.9;
  }
  100% {
    top: 300px;
    opacity: 1;
  }
}
@keyframes spinLogo {
  from {
    transform: rotate(-60deg) scale(0.25) translate(-50%, -50%);
  }
  to {
    transform: rotate(360deg) scale(1) translate(-50%, -50%);
  }
}
/*====================================== 
            MEDIA QUERIES
======================================*/
@media screen and (max-width: 960px) {
  #home-text > p {
    font-size: 20px;
  }
  #desc > p {
    font-size: 19px;
  }
  #also {
    font-size: smaller;
  }
  #main-sport img {
    width: 80%;
  }
}
