* {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
header,
footer {
  height: 100px;
  display: flex;
  background-color: #25274d;
  color: #feffff;
  align-items: center;
}
#logo {
  width: 20%;
  height: 100px;
  color: #feffff;
}
header > h1 {
  padding-left: 15px;
}
main {
  height: 100vh;
}
body {
  background-color: #25274d;
}
/*====================================== 
            MAIN NAV
======================================*/
#main-nav {
  background-color: #2e9cca;
}
#main-nav > ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
#main-nav > ul a {
  text-decoration: none;
  display: block;
  padding: 15px;
  color: black;
  font-size: 20px;
}
#main-nav > ul a:hover {
  color: white;
  background-color: #25274d;
}
#main-nav > ul a:active {
  color: rgb(212, 18, 18);
}
#main-nav li {
  width: 20%;
  text-align: center;
}
ul {
  display: flex;
  flex-direction: row;
}
.active-page {
  background-color: #83d4f7;
}
/*====================================== 
            MAIN SECTION HOME
======================================*/
#hero_img {
  height: 70vh;
  width: 100%;
  background-image: url(../images/Glasgow_hero_img.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
#hero_message {
  position: absolute;
  left: 60px;
  top: 300px;
  padding: 10px;
  color: #feffff;
  font-size: 100px;
}
#home-text {
  background-color: #2e9cca;
  color: #feffff;
  text-align: center;
  font-size: 90px;
  margin: 0;
  padding: 40px 20px;
  height: 30vh;
}
#home-text > p {
  text-align: center;
  margin: 0 30px;
  font-size: 30px;
}
/*====================================== 
            MAIN SECTION SIGHTS
======================================*/
.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
}
.container img:hover {
  transition: all 0.5s;
  transform: scale(1.1);
}
.site-item > img,
.description {
  width: 50vw;
}
.description {
  display: flex;
  flex-direction: column;
  background-color: #2e9cca;
  color: #feffff;
  text-align: center;
  align-items: center;
}
.description > h2 {
  margin: 50px 0 20px 0;
}
.description > p {
  padding: 25px 50px 25px 50px;
  font-size: 1.5rem;
}
.site-item {
  display: flex;
  height: 33.33%;
}

/*====================================== 
            MAIN SECTION SPORT
======================================*/
#desc {
  height: 20%;
  background-color: #2e9cca;
  width: 100%;
}
#desc p {
  padding: 10px;
}
#desc h2 {
  margin-top: 10px;
}
#main-sport {
  display: flex;
  height: 80vh;
}
#main-sport > img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 100;
  height: 60%;
  animation: spinLogo 3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#red {
  background-color: red;
  display: block;
  width: 50vw;
}
#yellow {
  background-color: yellow;
  display: block;
  width: 50vw;
}
#also {
  font-size: small;
}
/*====================================== 
            MAIN SECTION FOOD
======================================*/
#picture-gallery {
  height: 60vh;
}
#picture-gallery img {
  width: 100%;
  vertical-align: top;
}
label > img {
  width: 100px;
  height: 100px;
}
.gallery {
  display: flex;
  justify-content: space-between;
  margin: 10px auto 5px auto;
  width: 900px;
  position: relative;
  padding-top: 625px;

  @media screen and (min-width: $max-img-width) {
    padding-top: $max-img-height;
  }
}

.gallery-img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 600px;
  height: 600px;
  box-shadow: 0 0 0 3px #2e9cca;
  transition: opacity 0.3s ease-in-out;
}
.gallery-thumbnail {
  padding-top: 6px;
  margin: 0 15px;
  display: block;
}
.gallery__selector {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}
.gallery__selector:checked + .gallery-img {
  opacity: 1;
}
.gallery__selector:checked ~ .gallery-thumbnail > img {
  box-shadow: 0 0 0 3px #2e9cca;
}
#food-text {
  background-color: #2e9cca;
  color: #feffff;
  text-align: center;
  font-size: 25px;
  margin: 150px 0 0 0;
  padding: 20px;
  height: 25vh;
}
/*====================================== 
            MAIN FOOTER
======================================*/
footer {
  flex-direction: row-reverse;
}
footer > a {
  text-decoration: none;
  display: block;
  padding: 15px;
  color: #feffff;
  font-size: 30px;
}
/*====================================== 
            ANIMATIONS
======================================*/
.animate {
  display: inline-block;
  animation: move 1s;
}

@keyframes move {
  0% {
    top: 500px;
    opacity: 0;
  }
  10% {
    top: 480px;
    opacity: 0.1;
  }
  20% {
    top: 460px;
    opacity: 0.2;
  }
  30% {
    top: 440px;
    opacity: 0.3;
  }
  40% {
    top: 420px;
    opacity: 0.4;
  }
  50% {
    top: 400px;
    opacity: 0.5;
  }
  60% {
    top: 380px;
    opacity: 0.6;
  }
  70% {
    top: 360px;
    opacity: 0.7;
  }
  80% {
    top: 340px;
    opacity: 0.8;
  }
  90% {
    top: 320px;
    opacity: 0.9;
  }
  100% {
    top: 300px;
    opacity: 1;
  }
}
@keyframes spinLogo {
  from {
    transform: rotate(-60deg) scale(0.25) translate(-50%, -50%);
  }
  to {
    transform: rotate(360deg) scale(1) translate(-50%, -50%);
  }
}
/*====================================== 
            MEDIA QUERIES
======================================*/
@media screen and (max-width: 966px) {
  #home-text > p {
    font-size: 25px;
  }
  #desc > p {
    font-size: 19px;
  }
  #also {
    font-size: smaller;
  }
  #main-sport img {
    width: 80%;
  }
}
@media screen and (max-width: 666px) {
  #home-text > p {
    font-size: 20px;
  }
  .site-item p {
    font-size: 20px;
  }
}
@media screen and (max-width: 1400px) {
  #food-text {
    font-size: 20px;
  }
}

@media screen and (max-width: 900px) {
  #food-text {
    font-size: 15px;
  }
  .gallery {
    width: 90%;
  }
}
